button{
    border: 20;
    cursor: pointer;
    position: relative;
   
    
   
}
.all{

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

button div{
    background-color: rgb(255,70,85);
    padding: 1.2rem 5.5rem;
    position: relative;
    overflow: hidden;
}

button a {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ece8e1;
    text-transform: uppercase;
    z-index:2;
}



button::before,
button::after{
    content: "";
    position:absolute;
    width: 105%;
    height: 50%;
    background-color: transparent;
    border: 1px solid rgb(134,129,124);
    left: -2.5%
    
   
}

button::before{
    border-bottom:0;
    top:-10%;
}
button::after{
        border-top: 0;
        bottom:-10%;

        
    }

button span{
    position: absolute;
    top:0;
    left:0;
    width:120%;
    height:110%;
    background-color:rgb(15,25,35);
    transform: translateX(-105%) skew(-10deg);
    transition: 0.4s ease;
}

button:hover span {
    transform: translateX(-5%) skew(-10deg);
}
